<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /content_system/

    # Allow access to the application
    <IfModule authz_core_module>
        Require all granted
    </IfModule>
    <IfModule !authz_core_module>
        Allow from all
    </IfModule>

    # Redirect to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>